---
---
{% include css/flexslider.css %}
{% include css/style.css %}
{% include css/syntax.css %}

#logo {
  float:inherit;
  width:200px;
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flex-control-nav{
  position:inherit !important;
  right:inherit !important;
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.home .slideshow .details .text {
  width:100%;
  background: rgb(0, 0, 0) transparent; /* default fallback */
  background: rgba(0, 0, 0, 0.6); /* nice browsers */
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000, endColorstr=#CC000000); /* IE 6/7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000, endColorstr=#CC000000)"; /* IE8 */

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
.details .button {
  background-color:#000000 !important;
}
.details h2 a, .darkBkg a {
  color:#FFFFFF !important;
}
.project.darkBkg .description p { 
  color: rgba(255,255,255, .8); 
}

.videoContainer {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
