<footer id="footer" >
  <div class="inside">
    <div class="main clearfix">
    </div>{% comment %} end footer main {% endcomment %}
    <div class="secondary clearfix">  
      <div class="left"><p>&copy; 2024 <a href="/"><strong>Onato</strong></a> All Rights Reserved.</p></div>
    </div>{% comment %} end footer secondary {% endcomment %}
  </div>{% comment %} end footer inside {% endcomment %}
</footer>
</div>{% comment %} end container {% endcomment %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type='text/javascript' src='/js/onato.js'></script>
</body>
</html>
