    <div class="project h-entry center {% if post.backgroundDark %}darkBkg{% endif %}" 
      style="{% if post.backgroundImage %}background-image: url(images/backgrounds/{{ post.backgroundImage }});{% endif %}{% if post.backgroundColor %}background-color: {{ post.backgroundColor }};{% endif %}">
      <div class="inside clearfix">
        <span class="topLine"></span>
        <div class="head">
          <h2 class="p-name"><a class="u-url" href="{{ post.url }}" rel="bookmark" >{{ post.title }}</a></h2>
          <div class="description clearfix p-summary">{{ post.excerpt }}</div>
        </div>
      {% if post.image %}
        <p><a href="{{ post.url }}{% if post.video.vimeoID %}#video{% endif %}" rel="bookmark" ><img class="p-photo" src="{{ post.image.src }}" alt="{{ post.image.title }}" width="{{ post.image.width }}" height="{{ post.image.height }}" class="aligncenter size-full" /></a></p>
      {% elsif post.video.vimeoID %}
        <div class="videoContainer"{% if post.video.padding-bottom %} style="padding-bottom:{{ post.video.padding-bottom }};"{% endif %}>
          <iframe src="https://player.vimeo.com/video/{{ post.video.vimeoID }}?title=0&amp;byline=0&amp;portrait=0&amp;color=FF6600" width="{{ post.video.width }}" height="{{ post.video.height }}" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      {% elsif post.video.youtubeID %}
        <iframe width="{{ post.video.width }}" height="{{ post.video.height }}" src="http://www.youtube.com/embed/{{ post.video.youtubeID }}?rel=0" frameborder="0" allowfullscreen></iframe>
      {% endif %}
      {% if post.column1 %}
        <div class="one_half column">
          {{ post.column1 }}
        </div>
      {% endif %}
      {% if post.column2 %}
        <div class="one_half column last">
          {{ post.column2 }}
        </div>
      {% endif %}
        <div class="hidden author">By Stephen</div>
        <time class="dt-published" datetime="{{ post.date }}"></time>
        <time class="dt-updated" datetime="{{ post.path | file_date }}"></time>

        <div class="clearboth"></div>
      </div>
    </div>
