{% include header.html %}
  <h1>Stephen Williams - Full Stack Developer</h1>
  <div class="intro">
	  <!--Want to build something? Don't know how? I can help you with that!-->
  </div>  
  <div class="slideshow">
    <div class="flexslider">
      <ul class="slides">
      {% for slide in site.categories.slides %}
        {% include slide.html %}
      {% endfor %}
      </ul>
    </div>  
  </div>
</header>

<div id="homeMessage" class="clearfix">
  <p>CHECK OUT MY LATEST WORK </p>
</div>
<div class="main clearfix">
  <div id="content" class="clearfix full">
    {% for post in site.categories.projects %}
      {% include project.html %}
    {% endfor %}
  </div>
</div>

{% include footer.html %}
