{% include header.html %}
  <h1>Stephen Williams - Swift and Rust Developer</h1>
  <div class="intro">
    <p>I am a highly skilled app developer specializing in Apple platforms, with a strong track record of success working remotely from New Zealand. I hold a degree in Computer Science from Auckland University and a Diplom (Masters) in Design from the Köln School of Design in Germany.</p>
    <p>With extensive experience in iOS app development and maintenance, I possess a comprehensive understanding of the entire development cycle. Additionally, I have expanded my knowledge in related fields such as QA and UX design, which I find aids collaboration and improves my own work.</p>
    <p>My work is characterized by a strong emphasis on code quality, testing, and automation. I have implemented various automation techniques to ensure consistency and maximize productivity, allowing me to deliver the highest value.</p>
    <p>I take pride in tackling complex projects, often with hidden intricacies, and successfully bringing them to fruition. I am always eager to discuss the full spectrum of challenges and solutions involved in my work, as I believe it showcases the depth of my expertise.</p>
    <p>Feel free to explore my portfolio and reach out to me for further discussion.</p>
  </div>  
  <div class="slideshow">
    <div class="flexslider">
      <ul class="slides">
      {% for slide in site.categories.slides %}
        {% include slide.html %}
      {% endfor %}
      </ul>
    </div>  
  </div>
</header>

<div id="homeMessage" class="clearfix">
  <p>CHECK OUT MY LATEST WORK </p>
</div>
<div class="main clearfix">
  <div id="content" class="clearfix full">
    {% for post in site.categories.projects %}
      {% include project.html %}
    {% endfor %}
  </div>
</div>

{% include footer.html %}
